.Home {
	padding: 80px 0;
	text-align: center;
}

.Home h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.Home p {
	color: #999;
}

.Home div {
	padding-top: 20px;
}

.Home div a:first-child {
	margin-right: 20px;
}
